/* Tipo de letrea Lato  */

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

/* NAVBAR transparente que se mantenga al bajar la pagina */


.navbar-dark .navbar-nav .nav-link {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 24px;

    
  }
  .header {
    background: url(/assets/img/carousel1.jpg) no-repeat center;
    background-size: cover;
    
  }
  .header .navbar {
    background-color: transparent !important;
  }
  .logo {
    width: 35px;
    height: 35px;
  }


  
/* FIN NAVBAR */

  
/* Formulario de contacto */


/* Color de fondo */

.bg-success{
    background-color: #000000 !important;
    color: white;

}

/* Texto de contacto */
.texto-contacto{

color: white;
justify-content: center;
background-color: black;
display:flex;

}

/* Color del boton */
.btn-light {
    background-color: #499ca0;
    color: #ffffff; /* Color de texto blanco */
    border: 2px solid #499ca0;
  }

  /* Ubicacion del boton a la izquierda */

.d-grid-left {
  display: flex;
  justify-content: start;
}







/* FOOTER */


/* Footer background y tamaño iconos svg */

  footer{
    color: white;
    background-color: #499ca0;
    font: size 1.2em;
    padding: 20px ;
    margin-top: 20px;
    
  }

  /* centrar los elementos footer*/

  .footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;

   
  }
  
  /* Para evitar el margen extra en el último elemento footer */
  .footer-flex img:last-child {
    margin-right: 0;
  }

    /*tamaño iconos svg footer */
  .logo2 {
    width: 25px;
    height: 25px;
  }

  /* tamaños para moviles */
  .footer-flex {
    background-color: #499ca0; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
  }
  
  .logo2 {
    width: 30px; /* Tamaño de los logos */
    height: 30px;
    margin: 0 10px; /* Espacio alrededor de los logos */
  }
  
  @media (max-width: 768px) {
    .logo2 {
      width: 20px; /* Tamaño más pequeño para dispositivos móviles */
      height: 20px;
    }
  }

  
 